version: "3"
services:
  postgres:
    image: postgres:13
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: postgrespassword

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      DB_CONNECTION: pgsql
      DB_HOST: postgres
      DB_PORT: '5432'
      DB_DATABASE: postgres
      DB_USERNAME: postgres
      DB_PASSWORD: postgrespassword
    volumes:
      - ./:/var/www
      - ./services/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - default
    depends_on:
      - postgres

  nginx:
    container_name: nginx
    build:
      dockerfile: Dockerfile-nginx
      args:
        # override the defaults in the dockerfile here
        nginx_uid: 1000
        nginx_gid: 1000
    restart: unless-stopped
    tty: true
    ports:
      - "9000:80"
      - "443:443"
    volumes:
      - ./:/var/www
      - ./services/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - default
    depends_on:
      - app

networks:
  default:
    driver: bridge
volumes:
  db_data: null
